
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
@import './utils/variables';

@import './component/header';
@import './component/footer';
@import './component/icon';

@import './layout/hat';
@import './layout/specification';
@import './layout/team';
@import './layout/portfolio'; 
@import './layout/backdrop'; 
@import './layout/modal';
